*{
    margin: 0;
    padding: 0;
}

/* input{
    text-align: center;
} */
h1{
    background-color: rgb(116, 115, 115);
     text-shadow: 20px;
     font-family: 'Times New Roman', Times, serif;
     font-size: large;
}

.photos {
    display:inline-flex;
    
}

.main {
    background-color: rgb(41, 37, 37);
    margin-top: 0;
}
.heading input{
    width: 400px;
    margin: 10px ;
    padding: 6px;
    border-radius: 5px;
}

.heading {
    text-align: center;
    color: aliceblue;
    margin: 10px
}
<<<<<<< HEAD
.btn .btn-light {
    width: 115px;
    padding: 5px;
}
=======
h1{
    margin: 20px;
    background-color: rgb(245, 183, 102);
}
>>>>>>> 621d2522b16fcb1dc392f1663e24547142e06704
