/* *{
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
button{
  padding: 10px;
  border-radius: 35px;
  border: 2px;
  
}
header{
  padding: 50px;
  margin: 150px;
}
div{
  background-color: rgb(181, 159, 223);
}
div div{
  display: inline-flex;
  margin:5px 5px 10px 550px;
     text-shadow: 20px;
     font-family: 'Times New Roman', Times, serif;
     font-size: large;
     width:100%
}

 */
